/*RESET CSS  */
* {
	margin: 0;
	padding: 0;
}
:root {
    --surface-color: #fff;
    --curve: 40;
  }


html {
    font-size: 100%; /* 100% = 16px */
    
}
body{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	background-color: #fbd394;
	
}
h1{
	font-size: 2em;
	font-weight: bold;
}
h2, h3, h4, h5{
	font-weight: normal;
}
/*RESET*/

/*HEADER*/
header{
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}
header img{
	margin-left: 30px;
}

/*NAV*/
.nav{
	display: flex;
	flex-direction: row;
	top: 0px;
	width: 100%;
	margin-left: 20px;
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul li{	
	display: inline-block;
	margin-right: 20px;
	
}
nav ul li a{	
	display: inline-block;
	text-decoration: none;
	color: #e25ca5;
	
}


nav ul li {
	--c: goldenrod;
    color: var(--c);
    font-size: 12px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1.5em;
	
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}

/*PRODUCTOS - MENU*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 7rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}
  
.card {
    position: relative;
    display: block;
    height: 130%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;

}
  
.card__image {      
    width: 100%;
    height: auto;
}
.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #e25ca5;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #5c3a0d;  
  }
  
  .card__status {
    font-size: .8em;
    color: #5c3a0d;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #5c3a0d;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }    

  /*ITEM*/
  .wrapper {
	height: 420px;
	width: 654px;
	margin: 50px auto;
	border-radius: 7px 7px 7px 7px;
	/* VIA CSS MATIC https://goo.gl/cIbnS */
	-webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  }
  
  .product-img {
	float: left;
	height: 420px;
	width: 327px;
  }
  
  .product-img img {
	border-radius: 7px 0 0 7px;
  }
  
  .product-info {
	float: left;
	height: 420px;
	width: 327px;
	border-radius: 0 7px 10px 7px;
	background-color: #ffffff;
  }
  
  .product-text {
	height: 200px;
	width: 327px;
  }
  
  .product-text h1 {
	margin: 0 0 0 38px;
	padding-top: 52px;
	font-size: 34px;
	color: #474747;
  }
  
  .product-text h1,
  .product-price-btn p {
	font-family: 'Bentham', serif;
  }
  
  .product-text h2 {
	margin: 0 0 47px 38px;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	color: #d2d2d2;
	letter-spacing: 0.2em;
  }
  
  .product-text p {
	height: 60px;
	margin: 0 0 0 38px;
	font-family: 'Playfair Display', serif;
	color: #8d8d8d;
	line-height: 1.7em;
	font-size: 15px;
	font-weight: lighter;
	overflow: hidden;
  }
  
  .product-price-btn {
	height: 103px;
	width: 327px;
	margin-top: 30px;
	position: relative;
  }
  
  .product-price-btn p {
	display: inline-block;
	position: absolute;
	top: -13px;
	height: 50px;
	font-family: 'Trocchi', serif;
	margin: 0 0 0 38px;
	font-size: 28px;
	font-weight: lighter;
	color: #474747;
  }
  
  span {
	display: inline-block;
	height: 50px;
	font-family: 'Suranna', serif;
	font-size: 34px;
  }
  
  .product-price-btn button {
	display: inline-block;
	height: 50px;
	width: 176px;
	margin-top: 6%;
	margin-left: 40px;
	box-sizing: border-box;
	border: transparent;
	border-radius: 60px;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
	background-color: #62bdc0;
	cursor: pointer;
	outline: none;
  }
  
  .product-price-btn button:hover {
	background-color: #79b0a1;
  }
    /*COUNTER*/
  .product-price-btn .counter{
	text-align: center; 
	margin-top:30px;
  }
  .product-price-btn .main-hr {
	width: 30%;
	border: none;
	border-top: 1px solid #c3c3c3;
  }
  .product-price-btn .icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid #62bdc0;
	background: #62bdc0;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
  }
  .product-price-btn .add-btn:hover {
	width: 120px;
  }
  .product-price-btn .add-btn::before,
  .product-price-btn .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: #fff;
  }
  .product-price-btn .add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .product-price-btn .add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .product-price-btn .icon-btn:focus {
	outline: none;
  }
  .product-price-btn .btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
  }
  .product-price-btn .add-btn:hover::before,
  .product-price-btn .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
  }
  .product-price-btn .add-btn:hover .btn-txt {
	opacity: 1;
  }
  .product-price-btn .add-icon::after,
  .product-price-btn .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: #fff;
	overflow: hidden;
  }
  .product-price-btn .add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
  }
  .product-price-btn .add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
  }
  .product-price-btn .add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }
  .product-price-btn .add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
  }
  

/*COUNTER*/
.product-price-btn .counter{
	text-align: center; 
	margin-right: 50px;
}
.product-price-btn .main-hr {
	width: 30%;
	border: none;
}
.product-price-btn .icon-btn {
	width: 50px;
	height: 50px;
	border: 1px solid #62bdc0;
	background: #62bdc0;
	border-radius: 25px;
	overflow: hidden;
	position: relative;
	transition: width 0.2s ease-in-out;
	margin-top: 50px;
	
}
.product-price-btn .add-btn:hover {
	width: 120px;
}
.product-price-btn .add-btn::before,
.product-price-btn .add-btn::after {
	transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 4px;
	width: 10px;
	top: calc(50% - 2px);
	background: #fff;
}
.product-price-btn .add-btn::after {
	right: 14px;
	overflow: hidden;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.product-price-btn .add-btn::before {
	left: 14px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.product-price-btn .icon-btn:focus {
	outline: none;
}
.product-price-btn .btn-txt {
	opacity: 0;
	transition: opacity 0.2s;
}
.product-price-btn .add-btn:hover::before,
.product-price-btn .add-btn:hover::after {
	width: 4px;
	border-radius: 2px;
}
.product-price-btn .add-btn:hover .btn-txt {
	opacity: 1;
}
.product-price-btn .add-icon::after,
.product-price-btn .add-icon::before {
	transition: all 0.2s ease-in-out;
	content: "";
	position: absolute;
	height: 20px;
	width: 2px;
	top: calc(50% - 10px);
	background: #fff;
	overflow: hidden;
}
.product-price-btn .add-icon::before {
	left: 22px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}
.product-price-btn .add-icon::after {
	right: 22px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}
.product-price-btn .add-btn:hover .add-icon::before {
	left: 15px;
	height: 4px;
	top: calc(50% - 2px);
}
.product-price-btn .add-btn:hover .add-icon::after {
	right: 15px;
	height: 4px;
	top: calc(50% - 2px);
}
	  
.valorCounter{
	display: inline-block;
	position: absolute;	
	margin-left: 50%;
	font-family: 'Trocchi', serif;
	font-size: 28px;
	color: #e25ca5;
	width: 40px;
	border-style: none;
	top: -18px;
	height: 50px;
	
	

}